.wrapperEmbla {
  margin: 0 262px;
}
.embla {
  overflow: hidden;
  text-align: center;
  width: 100%;
  position: relative;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide__img {
  width: 100%;
}
.embla__prev {
  background-color: #252931;
  opacity: 1;
  width: 36px;
  height: 36px;
  border: none;
  position: absolute;
  padding-top: 3px;
  padding-right: 2px;
  top: 45%;
  left: 0;
  border-radius: 50%;
  text-align: center;
}
.embla__next {
  background-color: #252931;
  opacity: 1;
  width: 36px;
  height: 36px;
  border: none;
  position: absolute;
  padding-top: 3px;
  padding-left: 2px;
  top: 45%;
  right: 0;
  border-radius: 50%;
  text-align: center;
}
